{
  "presets": ["@babel/env"],
  "plugins": ["@babel/transform-modules-commonjs"],
  "env": {
    "test": {
      "presets": ["@babel/env"],
      "plugins": ["@babel/transform-modules-commonjs"]
    }
  }
}
